<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <script src="js/particles.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/373a1c097b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Montserrat|Quicksand&display=swap" rel="stylesheet">
    <title>Théo Migeat</title>
</head>
<body>
    <div class="projetOverlay"></div>
    <div class="overlay"></div>
    <nav id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <aside>
            <article>
                <a><i class="material-icons" id="navIcon">arrow_upward</i></a> 
                <a class="js-scrollTo" href="#accueilAncre">Accueil</a>
            </article>
            <article>
                <a><i class="material-icons" id="navIcon">assessment</i></a>
                <a class="js-scrollTo" href="#recapAncre">Récap'</a>
            </article>
            <article>
                <a><i class="material-icons" id="navIcon">book</i></a> 
                <a class="js-scrollTo" href="#parcoursAncre">Parcours/Expériences</a>
            </article>
            <article>
                <a><i class="material-icons" id="navIcon">assignment</i></a>
                <a class="js-scrollTo" href="#compAncre">Compétences</a>
            </article>
            <article>
                <a><i class="material-icons"id="navIcon"v>code</i></a> 
                <a class="js-scrollTo" href="#projetsAncre">Projets</a>
            </article>
            <article>
                <a><i class="material-icons" id="navIcon">mail</i></a> 
                <a class="js-scrollTo" href="#contactAncre">Contact</a>
            </article>
        </aside>
    </nav>
    <header id="accueilAncre" class="partieSelector">
        <article>
            <h1>THÉO MIGEAT</h1>
            <h2>Étudiant en seconde année d'informatique !</h2>
            <div>
                <a href=""><i class="fab fa-linkedin-in"></i></a>
                <a href=""><i class="fab fa-github"></i></a>
                <a href=""><i class="fas fa-envelope"></i></a>
                <a href=""><i class="fas fa-file-alt"></i></a>
            </div>
        </article>
        <div id="particles-js"></div>  
        <i class="material-icons" id="navButton">menu</i>
    </header>
    <section class="presentation">
        <p>Étudiant en seconde année, à l'Epsi Grenoble, école d'informatique, je suis passionné par le web, où je prends plaisir à concevoir et réaliser des sites internet avec de plus en plus de fonctionnalités !</p>
    </section>
    <section class="recap partieSelector" id="recapAncre">
        <h1><i class="material-icons" id="navIcon">assessment</i>Recap'</h1>
        <div class="recapFlex">
            <div>
                <figure><embed src="https://wakatime.com/share/@STM3900/841fd5a6-f7b1-4261-afc5-6c7256ad0442.svg"></embed></figure>
            </div>
            <article>
                <aside>
                    <h3>+220</h3>
                    <p>Heures sur des projets personnels <br> (selon WakaTime™)</p>
                </aside>
                <aside>
                    <h3>8</h3>
                    <p>Projets terminés</p>
                </aside>
                <aside>
                    <h3>2</h3>
                    <p>Projets en cours</p>
                </aside>
            </article>            
        </div>
    </section>
    <section class="parcours partieSelector" id="parcoursAncre">
        <h1><i class="material-icons">book</i>Parcours / Expériences</h1>
        <div class="parcoursListe">
            <article>
                <h2>Scolaire</h2>
                <div>
                    <h3>2018 - Présent</h3>
                    <h4>Master en informatique</h4>
                    <h5>EPSI Grenoble</h5>
                </div>
                <div>
                    <h3>2015 - 2018</h3>
                    <h4>Baccalauréat STI2D</h4>
                    <h5>Lycée Polyvalent Vaucanson</h5>
                    <h6>Mention assez bien</h6>
                </div>
            </article>
            <article>
                <h2>Professionel</h2>
                <div>
                    <h3>Mai - Juin 2018</h3>
                    <h4>Stage en développement web</h4>
                    <h5>Auphys Technologie</h5>
                </div>
            </article>
        </div>
    </section>
    <section class="comp partieSelector" id="compAncre">
        <h1><i class="material-icons">assignment</i>Compétences</h1>
        <div id="app" class="container">
            <div class="appDiv">
                <h2>HTML / CSS</h2>
                <div class="row">
                    <section>
                      <button type="button" class="btn btn-default btn-sm prev-slide"><i class="fas fa-chevron-left"></i></button>
                    </section>
                    <section class="aled">
                      <div class="swiper-container">
                        <div class="swiper-wrapper timeline">
                          <div class="swiper-slide" v-for="item in steps">
                            <div class="timestamp">
                              <span class="date">{{item.dateLabel}}<span>
                            </div>
                            <div class="status">
                              <span><a class="js-scrollTo" href="#projetsAncre">{{item.title}}</a></span>
                            </div>
                          </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                      </div>
                    </section>
                    <section>
                      <button type="button" class="btn btn-default btn-sm next-slide"><i class="fas fa-chevron-right"></i></button>
                    </section>
                  </div>
            </div>
            <div class="appDiv">
                <h2>PHP</h2>
                <div class="row">
                    <section>
                      <button type="button" class="btn btn-default btn-sm prev-slide2"><i class="fas fa-chevron-left"></i></button>
                    </section>
                    <section class="aled">
                      <div class="swiper-container swiper-container2">
                        <div class="swiper-wrapper timeline">
                          <div class="swiper-slide" v-for="item in steps2">
                            <div class="timestamp">
                              <span class="date">{{item.dateLabel}}<span>
                            </div>
                            <div class="status">
                              <span><a class="js-scrollTo" href="#projetsAncre">{{item.title}}</a></span>
                            </div>
                          </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                      </div>
                    </section>
                    <section>
                      <button type="button" class="btn btn-default btn-sm next-slide2"><i class="fas fa-chevron-right"></i></button>
                    </section>
                  </div>
            </div>
            <div class="appDiv">
                <h2>JavaScript</h2>
                <div class="row">
                    <section>
                      <button type="button" class="btn btn-default btn-sm prev-slide3"><i class="fas fa-chevron-left"></i></button>
                    </section>
                    <section class="aled">
                      <div class="swiper-container swiper-container3">
                        <div class="swiper-wrapper timeline">
                          <div class="swiper-slide" v-for="item in steps3">
                            <div class="timestamp">
                              <span class="date">{{item.dateLabel}}<span>
                            </div>
                            <div class="status">
                              <span><a class="js-scrollTo" href="#projetsAncre">{{item.title}}</a></span>
                            </div>
                          </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                      </div>
                    </section>
                    <section>
                      <button type="button" class="btn btn-default btn-sm next-slide3"><i class="fas fa-chevron-right"></i></button>
                    </section>
                </div>
            </div>
            <div class="appDiv">
                <h2>SQL</h2>
                <div class="row">
                    <section>
                      <button type="button" class="btn btn-default btn-sm prev-slide4"><i class="fas fa-chevron-left"></i></button>
                    </section>
                    <section class="aled">
                      <div class="swiper-container swiper-container4">
                        <div class="swiper-wrapper timeline">
                          <div class="swiper-slide" v-for="item in steps4">
                            <div class="timestamp">
                              <span class="date">{{item.dateLabel}}<span>
                            </div>
                            <div class="status">
                              <span><a class="js-scrollTo" href="#projetsAncre">{{item.title}}</a></span>
                            </div>
                          </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                      </div>
                    </section>
                    <section>
                      <button type="button" class="btn btn-default btn-sm next-slide4"><i class="fas fa-chevron-right"></i></button>
                    </section>
                </div>
            </div>
            <div class="appDiv">
                <h2>C++</h2>
                <div class="row">
                    <section>
                      <button type="button" class="btn btn-default btn-sm prev-slide5"><i class="fas fa-chevron-left"></i></button>
                    </section>
                    <section class="aled">
                      <div class="swiper-container swiper-container5">
                        <div class="swiper-wrapper timeline">
                          <div class="swiper-slide" v-for="item in steps5">
                            <div class="timestamp">
                              <span class="date">{{item.dateLabel}}<span>
                            </div>
                            <div class="status">
                              <span><a class="js-scrollTo" href="#projetsAncre">{{item.title}}</a></span>
                            </div>
                          </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                      </div>
                    </section>
                    <section>
                      <button type="button" class="btn btn-default btn-sm next-slide5"><i class="fas fa-chevron-right"></i></button>
                    </section>
                </div>
            </div>
            <div class="appDiv">
                <h2>C#</h2>
                <div class="row">
                    <section>
                      <button type="button" class="btn btn-default btn-sm prev-slide6"><i class="fas fa-chevron-left"></i></button>
                    </section>
                    <section class="aled">
                      <div class="swiper-container swiper-container6">
                        <div class="swiper-wrapper timeline">
                          <div class="swiper-slide" v-for="item in steps6">
                            <div class="timestamp">
                              <span class="date">{{item.dateLabel}}<span>
                            </div>
                            <div class="status">
                              <span><a class="js-scrollTo" href="#projetsAncre">{{item.title}}</a></span>
                            </div>
                          </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                      </div>
                    </section>
                    <section>
                      <button type="button" class="btn btn-default btn-sm next-slide6"><i class="fas fa-chevron-right"></i></button>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <section class="projets partieSelector" id="projetsAncre">
        <h1><i class="material-icons">code</i>Projets</h1>
        <div class="projetsListe">
            <article class="musicHours">
                <aside></aside>
                <h3>MusicHours</h3>
                <h4>12/2019</h4>
                <h5>+50 Heures</h5>
            </article>
            <article class="beeLeave">
                <aside></aside>
                <h3>BeeLeave</h3>
                <h4>09/2019</h4>
                <h5>+35 Heures</h5>
            </article>
            <article class="convertisseur">
                <aside></aside>
                <h3>Convertisseur B/H/D</h3>
                <h4>03/2019</h4>
                <h5>~1 Heure</h5>
            </article>
            <div class="panel">
                <aside class="musicHours brightless" id="bgbottom"></aside>
                <div class="panelFlex">
                    <div class="panelContent">
                        <a href="javascript:void(0)" class="panelclose">&times;</a> 
                        <div>
                            <h1>MusicHours</h1>
                            <h2>Terminé le 24/12/19 - <b title="Durée du projet mesurée par WakaTime™">55h13m</b></h2>
                        </div>
                        <div class="panelFlexDesc">
                            <p>MusicHours est un site vous permettant, à partir d'une ville de votre choix, d'avoir une musique et un thème s'adaptant à l'heure et à la météo de celle-ci !</p>
                        </div>
                        <div class="panelFlexListe">
                            <div>
                                <h2>Objectifs :</h2>
                                <ul>
                                    <li>Expérimenter de nouvelles choses en JS</li>
                                    <li>Surpasser mes limites en CSS</li>
                                    <li>Se connecter à une API et l'utiliser</li>
                                </ul>
                            </div>
                            <div>
                                <h2>Langages/Logiciels utilisés :</h2>
                                <ul>
                                    <li>HTML / CSS</li>
                                    <li>JS</li>
                                    <li>VSCode / GitHub</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panelPlus">
                        <img src="medias/images/MusicHoursLogo.png" alt="">
                        <a href="https://theomigeat.com/MusicHours/" target="_blank">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="panel">
                <aside class="beeLeave"></aside>
                <div class="panelFlex">
                    <div class="panelContent">
                        <a href="javascript:void(0)" class="panelclose">&times;</a> 
                        <div>
                            <h1>BeeLeave</h1>
                            <h2>Terminé le 13/09/19 - 5 Jours de projet</h2>
                        </div>
                        <div class="panelFlexDesc">
                            <p>Conçu pendant un Workshop : Une semaine de cours banalisée pour faire un projet, en équipe de 5, BeeLeave est une plateforme sur laquelle, en créant un compte, il est possible de créer des évènements, des groupes et de discuter avec les membres présents dedans.</p>
                        </div>
                        <div class="panelFlexListe">
                            <div>
                                <h2>Objectifs :</h2>
                                <ul>
                                    <li>Faire un site en 5 jours</li>
                                    <li>Créer une système de messagerie instantanée</li>
                                    <li>Créer un système de compte et de groupe, avec plusieurs rôles possibles</li>
                                </ul>
                            </div>
                            <div>
                                <h2>Langages/Logiciels utilisés :</h2>
                                <ul>
                                    <li>HTML / CSS</li>
                                    <li>PHP</li>
                                    <li>VSCode / GitHub</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panelPlus">
                        <a href="https://little-rpg.fr/workshop/beeleave/public/index.php" target="_blank">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="panel">
                <aside class="convertisseur Formless"></aside>
                <div class="panelFlex">
                    <div class="panelContent panelPadding">
                        <a href="javascript:void(0)" class="panelclose">&times;</a> 
                        <div>
                            <h1>Convertisseur Binaire / Hexadécimal / Décimal</h1>
                            <h2>Terminé en 03/19 - ~1h</h2>
                        </div>
                        <div class="panelFlexDesc panelFlexDescConv">
                            <p>Ce petit convertisseur a été fait à la fois pour découvrir quelques fonctionnalités du langage JavaScript, mais aussi pour avoir un convertisseur à disposition, peu importe le support !</p>
                        </div>
                    </div>
                    <div class="panelPlus panelPlusConv">
                        <form action="">
                            <div>
                                <p><label for="decimal">Décimal : </label> <input type="number" id="decimal" name="decimal" onkeyup="convDecimal()">
                            </div>
                            <div>
                                <p><label for="hexadecimal">Hexadécimal : </label> <input type="text" id="hexadecimal" name="hexadecimal" onkeyup="convHexadecimal()">
                            </div>
                            <div>
                                <p><label for="hexadecimal">Binaire : </label> <input type="text" id="binaire" name="binaire" onkeyup="convBinaire()">
                            </div> 
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel">
                <aside class="ham brightless"></aside>
                <div class="panelFlex">
                    <div class="panelContent">
                        <a href="javascript:void(0)" class="panelclose">&times;</a> 
                        <div>
                            <h1>Hero And Monsters</h1>
                            <h2>Terminé le 30/04/19 - 40h</h2>
                        </div>
                        <div class="panelFlexDesc">
                            <p>Réalisé au cours d'un projet scolaire, Hero and Monsters est un petit jeu développé en C++, dans le but de nous apprendre à faire de la programmation orientée objet (POO)</p>
                        </div>
                        <div class="panelFlexListe">
                            <div>
                                <h2>Objectifs :</h2>
                                <ul>
                                    <li>Faire un prototype fonctionel en 40h</li>
                                    <li>Utiliser la POO pour optimiser le code du projet</li>
                                </ul>
                            </div>
                            <div>
                                <h2>Langages/Logiciels utilisés :</h2>
                                <ul>
                                    <li>C++</li>
                                    <li>Visual Studio 2017</li>
                                    <li>GitHub</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panelPlus">
                        <a href="medias/fichiers/Projet.exe">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="panel">
                <aside class="lasr"></aside>
                <div class="panelFlex">
                    <div class="panelContent">
                        <a href="javascript:void(0)" class="panelclose">&times;</a> 
                        <div>
                            <h1>Les Dessins de Lasr</h1>
                            <h2>Terminé le 5/03/19 - 25h</h2>
                        </div>
                        <div class="panelFlexDesc">
                            <p>Les Dessins de Lasr est un site conçu pour une artiste, lui permettant d'afficher ses dernières créations !</p>
                        </div>
                        <div class="panelFlexListe">
                            <div>
                                <h2>Objectifs :</h2>
                                <ul>
                                    <li>Faire un site totalement responsive</li>
                                    <li>Découvrir comment intégrer un flux de réseau social</li>
                                </ul>
                            </div>
                            <div>
                                <h2>Langages/Logiciels utilisés :</h2>
                                <ul>
                                    <li>HTML / CSS</li>
                                    <li>PHP</li>
                                    <li>VSCode / GitHub</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panelPlus">
                        <img src="medias/images/lasr.jpg" class="panelRadiusRound" alt="">
                        <a href="https://www.theomigeat.com/lesdessinsdelasr/" target="_blank">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="panel">
                <aside class="tema"></aside>
                <div class="panelFlex">
                    <div class="panelContent">
                        <a href="javascript:void(0)" class="panelclose">&times;</a> 
                        <div>
                            <h1>TEMA</h1>
                            <h2>Terminé le 13/02/19 - +30h</h2>
                        </div>
                        <div class="panelFlexDesc">
                            <p>Conçu en groupe de 4 pendant un projet d'application web, TEMA est une plateforme collaborative qui a pour but d'aider les personnes souhaitant donner leur sang !</p>
                        </div>
                        <div class="panelFlexListe">
                            <div>
                                <h2>Objectifs :</h2>
                                <ul>
                                    <li>Faire un site fonctionnel</li>
                                    <li>Faire pour la première fois un système de création de compte</li>
                                    <li>Lier le site à une Base de données fonctionnelle</li>
                                </ul>
                            </div>
                            <div>
                                <h2>Langages/Logiciels utilisés :</h2>
                                <ul>
                                    <li>HTML / CSS</li>
                                    <li>PHP / MySQL</li>
                                    <li>VSCode / GitHub</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panelPlus">
                        <img src="medias/images/tema.png" class="panelRadiusRound" alt="">
                        <a href="https://tema.axsiow.ovh/" target="_blank">En savoir plus</a>
                    </div>
                </div>
            </div>
            <article class="ham">
                <aside></aside>
                <h3>Hero and Monsters</h3>
                <h4>04/2019</h4>
                <h5>40 Heures</h5>
            </article>
            <article class="lasr">
                <aside></aside>
                <h3>Les Dessins de Lasr</h3>
                <h4>03/2019</h4>
                <h5>25 Heures</h5>
            </article>
            <article class="tema">
                <aside></aside>
                <h3>TEMA</h3>
                <h4>02/2019</h4>
                <h5>+30 Heures</h5>
            </article>
        </div>
    </section>
    <section class="contact partieSelector" id="contactAncre">
        <h1><i class="material-icons">mail</i>Contact</h1>
        <div>
            <article class="contactLink">
                <i class="fab fa-linkedin-in"></i>
                <h2>LinkedIn</h2>
            </article>
            <article class="contactGit">
                <i class="fab fa-github"></i>
                <h2>GitHub</h2>
            </article>
            <article class="contactMail">
                <i class="fas fa-envelope"></i>
                <h2>theo.migeat@epsi.fr</h2>
            </article>
        </div>
    </section>
    <script src="js/app.js"></script>
    <script src="js/main.js"></script>  
</body>
</html>